html {
    overflow-y: scroll;
}

h1 {
    color: white;
    background-color: #7413DC;
    padding-left: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: x-large !important;
}

h2 {
    color: #7413DC;
}

body {
    font-family: "Nunito Sans";
    margin: 0px;
    max-width: 100%;
  }
